@import "../../Styles/mixins.scss";

.footer {
  background-color: var(--black);
  color: var(--white);
  padding: 60px 0;
}

.sections {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: space-between;

  @include small {
    justify-content: center;
    gap: 20px;
  }
}

.logo {
  width: 150px; // Adjust the width to your preference
  height: auto;
  margin-bottom: 10px; // Adjust spacing as needed
}

.sections > section {
  flex: 1;
  min-width: 200px; /* Ensure sections don't shrink too small */

  &:not(:last-child) {
    margin-right: 40px;

    @include small {
      margin-right: 0;
    }
  }
}

.section1 {
  b {
    font: 700 1.5rem "Inter", sans-serif;
    letter-spacing: 0.03rem;
  }

  span {
    display: block;
    font-weight: 500;
    font-size: 1.25rem;
  }

  p {
    margin: 16px 0 12px;
    font-size: 0.9rem;
  }

  .input {
    display: flex;
    align-items: center;
    border-radius: 4px;
    border: 1px solid var(--medium-light-gray);
    width: 222px;

    input {
      flex: 1;
      outline: none;
      border: none;
      padding: 12px 16px;
      background-color: transparent;
      color: var(--medium-light-gray);
    }

    label {
      cursor: pointer;
      padding: 10px;
    }

    svg {
      width: 22px;
      height: 22px;
      path {
        stroke: var(--medium-light-gray);
      }
    }

    &:has(:focus) {
      border-color: var(--white);

      input {
        color: var(--white);
      }

      svg path {
        stroke: var(--white);
      }
    }
  }
}

.sections > section b {
  display: block;
  margin-bottom: 16px;
}

.sections > section ul {
  list-style: none;
  padding: 0;

  li {
    margin-bottom: 12px;

    &:last-child {
      margin-bottom: 0;
    }

    a {
      color: var(--secondary-white);
      text-decoration: none;

      &:hover {
        color: var(--white);
      }
    }
  }
}

.copyRights {
  text-align: center;
  margin-top: 40px;
  font-size: 0.9rem;

  span {
    color: #f9f9f999;
  }

  a {
    color: #f9f9f999;
    text-decoration: underline;

    &:hover {
      color: var(--white);
    }
  }
}
