@import "../../../Styles/mixins.scss";

.productPoster {
  background: url("../../../Assets/Images/best-in-class.jpg") no-repeat center center/cover;
  position: relative;
  min-height: 250px; /* Ensures the section has height */
  padding: 50px;
  display: flex;
  align-items: left;
  justify-content: left;
  color: var(--white);
  text-align: left;

  // Dark overlay
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Dark overlay with transparency */
    z-index: 1; /* Behind content but above background */
  }

  .overlayContent {
    position: relative;
    z-index: 2; /* Ensures content stays above the overlay */
    
    > span {
      font-weight: 400;
      color: #ededed;
      font-size: 1.0rem;
    }

    > p {
      font: 600 2rem/45px "Inter", sans-serif;
      color: var(--secondary-white);
      margin: 10px 0 10px;

      @include small {
        font-size: 2rem;
        line-height: 40px;
      }
    }
  }

  @include small {
    min-height: 300px;
    padding: 20px;
  }
}

.buyNowButton {
  display: inline-block;
  padding: 14px 36px;
  border-radius: 4px;
  background-color: var(--black);
  color: var(--white);
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: #ffffff;
    color: var(--black);
  }
}

