@import "../../../Styles/mixins"; // Adjust path to your mixins file

.ourProductsSection {
  margin-bottom: 170px;

  @include small {
    margin-bottom: 100px;
  }
}

.wrapper {
  display: flex;
  overflow-x: auto; /* Horizontal scrolling */
  gap: 20px; /* Space between products */
  scroll-behavior: smooth;
  padding-bottom: 20px;

  /* Custom scrollbar */
  &::-webkit-scrollbar {
    height: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.4);
  }

  &::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
  }

  > * {
    flex-shrink: 0; /* Prevent shrinking */
    width: calc(100% / 2.5); /* Adjust width based on visible items */
  }

  @include small {
    > * {
      width: calc(100% - 20px); /* Full width for small screens */
    }
  }
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.viewProductsBtn {
  display: block;
  border: none;
  outline: none;
  cursor: pointer;
  width: fit-content;
  background: rgba(0, 0, 0, 0.2); /* Semi-transparent black */
  color: var(--black);
  padding: 12px 48px;
  border-radius: 12px;
  font-weight: 500;
  transition: all 0.3s ease;

  &:hover {
    background: var(--black);
    transform: translateY(-3px);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  }

  &:focus-visible {
    outline: 2px solid var(--black);
    outline-offset: 4px;
  }

  &:disabled {
    background: var(--gray);
    cursor: not-allowed;
  }
}

.exploreAllBtn {
  text-decoration: none;
  position: relative;

  &:hover {
    color: var(--white);
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0%;
    height: 3px;
    transition: width 0.3s ease;
  }

  &:hover::after {
    width: 100%;
  }
}
