@import "../../../Styles/mixins.scss";

.imgHolder {
  width: 180px; /* Fixed width for the image */
  height: 180px; /* Fixed height for the image */
  border-radius: 50%; /* Ensures the image is circular */
  overflow: hidden; /* Ensures the image stays within the bounds */
  margin-bottom: 20px;
  user-select: none;
  background-color: var(--light-gray); /* Placeholder background */

  > img {
    width: 100%; /* Fills the container */
    height: 100%; /* Fills the container */
    object-fit: cover; /* Maintains aspect ratio while cropping to fit */
    border-radius: inherit; /* Matches the parent’s border-radius */
  }
}

.info {
  b {
    font: 500 1.5rem "Inter", sans-serif;
    letter-spacing: 0.04rem;
  }

  p {
    margin-bottom: 10px;
  }
}

.socialMedia {
  display: flex;
  align-items: center;
  gap: 20px;

  a {
    position: relative;

    svg {
      width: 24px;
      height: 24px;
      stroke: var(--black);

      path {
        fill: var(--black);
      }
    }

    &.instagram svg path {
      fill: var(--white);
      stroke: var(--black);
    }
  }
}
