.categoriesSection {
  margin-bottom: 20px;
  position: relative;
}

.categoriesSlider {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  scroll-behavior: smooth;
  margin-bottom: 30px;
  position: relative;
  gap: 20px;

  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.categoriesSlider > * {
  flex: 0 0 auto;
  width: calc(100% / 5);
  margin-right: 20px;

  @media (max-width: 760px) {
    width: calc(100% / 3);
    margin-right: 15px;
  }

  @media (max-width: 470px) {
    width: calc(100% / 2);
    margin-right: 10px;
  }
}

.moreCategoriesLink {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  
  a {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding: 12px 24px;
    background-color: #E8E8E8;
    border-radius: 100px;
    color: #000000;
    font-weight: 500;
    text-decoration: none;
    white-space: nowrap;

    &:after {
      content: '→';
      font-size: 20px;
      line-height: 1;
      color: #000000;
    }
  }

  &:hover a {
    background-color: #DCDCDC;
  }
}

.moreCategoriesLinkk {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  
  a {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding: 12px 24px;
    background-color: #ffffff;
    border-radius: 100px;
    color: #000000;
    font-weight: 500;
    text-decoration: none;
    white-space: nowrap;

    &:after {
      font-size: 20px;
      line-height: 1;
      color: #000000;
    }
  }

  &:hover a {
    background-color: #DCDCDC;
  }
}